.all-login{
    display: flex;
    justify-content: center;

}


/* title */
.t-login{
font-size: 20px;
 display: flex;
 justify-content: center;
}


/* box */
.wall-login{
    position: fixed;
    top: 15%;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 30%;
}


/* inputs */
.case-login{
    display: flex;
    flex-direction: column; 
}

.input-login{
    background-color: rgba(255, 255, 255, 0);
    padding: 5%;
    border: none;
    border-bottom: 1px solid black;
}

.input-login::placeholder{
    color: rgba(255, 255, 255, 0.6);
}


/* buttons */
.b-login{
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.6);
    padding: 4%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
