.all-login{
    display: flex;
    justify-content: center;

}


/* title */
.t-login{
    position: relative;
    top: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.6);
}


/* box */
.wall-login{
    position: fixed;
    top: 13%;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 30%;
    height: 70%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    
}


/* inputs */
.case-login{
    display: flex;
    flex-direction: column; 
}

.input-login{
    background-color: rgba(255, 255, 255, 0);
    padding: 5%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.input-login::placeholder{
    color: rgba(255, 255, 255, 0.6);
}

.input-login:focus{
    background-color: transparent;
    outline: none;

}


/* buttons */
.b-login{
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.7);
    padding: 4%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: 0.3s;
}

.b-login:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.b-login:active{
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(0, 0, 0, 0.5);
}

/* footer */

.footer-login{
display: flex;
justify-content: space-between;

}

.a-login{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}