.all-home{
    font-family: sans-serif;
    display: flex;
}

.logo-home{
width: 30%;

}

.box1-home{
    left: 0;
    top: 0;
    padding: 10px;
    width: 19%;
    height: 100vh;
    opacity:15%;
}


/* box dos itens */

.box2-home{
    width: 100%;
    display: flex;
}

/* começo */
.top-home{
    width: 100%;
    margin-top: -60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* titulos */

.text-logo{
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: -70px;
    
}
.h1-home{
    display: inline-block;
    transform: scalex(1.4);
}

.h2-home{
    display: inline-block;
    transform: scalex(1.3);
}

.line{
    border: 1px solid black;
    width: 90%;
    margin: -14px;
}

