body{
    background-image: url('https://images.unsplash.com/photo-1693528408209-5e235fd8f1a1?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;  
    background-attachment: fixed;

}